pip install liionpack
Collecting liionpack
  Using cached liionpack-0.3.2-py3-none-any.whl (31 kB)
Collecting textwrapper
  Using cached textwrapper-1.0.2-py3-none-any.whl (3.4 kB)
Collecting pandas
  Using cached pandas-1.4.3-cp310-cp310-win_amd64.whl (10.5 MB)
Collecting tqdm
  Using cached tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
Collecting Ipython
  Using cached ipython-8.4.0-py3-none-any.whl (750 kB)
Collecting matplotlib
  Using cached matplotlib-3.5.3-cp310-cp310-win_amd64.whl (7.2 MB)
Collecting redis
  Using cached redis-4.3.4-py3-none-any.whl (246 kB)
Collecting liionpack
  Using cached liionpack-0.3.1-py3-none-any.whl (31 kB)
Collecting dask[complete]
  Using cached dask-2022.8.0-py3-none-any.whl (1.1 MB)
Collecting liionpack
  Using cached liionpack-0.3-py3-none-any.whl (28 kB)
ERROR: Cannot install liionpack==0.3, liionpack==0.3.1 and liionpack==0.3.2 because these package versions have conflicting dependencies.

The conflict is caused by:
    liionpack 0.3.2 depends on ray
    liionpack 0.3.1 depends on ray
    liionpack 0.3 depends on ray

To fix this you could try to:
1. loosen the range of package versions you've specified
2. remove package versions to allow pip attempt to solve the dependency conflict

ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/topics/dependency-resolution/#dealing-with-dependency-conflicts
